html{  height:100% }
body{
    height: 100%;
}
#main-div{
    height: 100%;
}
.content-main{
    height: 100%;
}
.vercode-div{
    margin: 10% 2% 8% 2%;
    height: 30%;
}
.vercode-div-title{
    text-align: center;
    font-size: 10rem;
    font-family: 幼圆;
    
}
.vercode-div-content{
    text-align: center;
    font-size: 9rem;
    margin: 12rem 6rem 6rem 6rem;
    font-family:幼圆;
}
.verbtn{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    height: 18rem;
    font-size: 8rem;
    font-family: 幼圆;
}
.verbtn:hover{
    background-color:  #2f95b3;
}
